#battleships-image {
  background-image: url(../../images/battleships.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1.6/1;
  margin-top: 10px;
}

#battleships-title {
  margin-left: calc(50% - (196.09px / 2));
}