#foodstagram-text-content {
  width: 100%;
  display: block;
}

  #foodstgram-image {
    margin-top: 10px;
    background-image: url(../../images/foodstagram2.png);
    height: 465px;
    width: 260px;
  }

@media only screen and (min-width: 580px) {
  #foodstragram-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #foodstagram-text-content {
    max-width: 270px;
  }
  #foodstgram-image {
    background-image: url(../../images/foodstagram2.png);
    height: 465px;
    width: 260px;
    margin-top: 0;
    display: block;
  }
}