
#socials {
  width: 40px;
  right: 0;
  // margin: 0 15px 15px 15px;
  margin-right: 1vw;
  margin-top: 1vw;
  position: fixed;
  height: 100%;
  // overflow-y: scroll;
}

#linkedin, #github, #email {
  overflow: hidden;
  height: 30px;
}

.white {
  color: $heading-colour;
}

.black {
  color: black;
}

.white-line {
  background-color: $heading-colour;
}

.black-line {
  background-color: black;
}

#linkedin{
  margin-top: 5px;
}

#linkedin:hover {
  color: rgb(0, 114, 177);
}

#github, #email {
  margin-top: 20px;
}

#github:hover {
  color: #238636;
}

#email {
  margin-bottom: 10px;
}

#email:hover {
  color: rgb(121, 194, 254);
}

#line {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 2px;
  height: calc(100% - 150px);
  padding: 0;
}

@media only screen and (min-width: 600px) {
  #socials {
    margin-top: 5vw;
    margin-right: calc(50vw - 290px);
    // margin-right: 5vw;
    }
}

@media only screen and (min-width: 950px) {
  #socials {
    margin-top: 50px;
  }
}